<html >
  <head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>LOS application</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <form action="{{ url_for('predict')}}"method="post">

      <label for="rcount">number of readmissions within last 180 days:</label><br>
      <input type="number" id="rcount" name="rcount"><br>

      <label for="gennder">gender:</label><br>
      <input type="number" id="gender" name="gender">

      <label for="dialysisrenalendstage">renal disease during encounter:</label><br>
      <input type="number" id="dialysisrenalendstage" name="dialysisrenalendstage">

      <label for="asthma">asthma during encounter:</label><br>
      <input type="number" id="asthma" name="asthma">

      <label for="irondef">iron deficiency during encounter:</label><br>
      <input type="number" id="irondef" name="irondef">

      <label for="pneum">pneumonia during encounter:</label><br>
      <input type="number" id="pneum" name="pneum">

      <label for="substancedependence">substance dependence during encounter:</label><br>
      <input type="number" id="substancedependence" name="substancedependence">

      <label for="psychologicaldisordermajor">major psychological disorder during encounter:</label><br>
      <input type="number" id="psychologicaldisordermajor" name="psychologicaldisordermajor">

      <label for="depress">depression during encounter:</label><br>
      <input type="number" id="depress" name="depress">

      <label for="psychother">other psychother disorder during encounter:</label><br>
      <input type="number" id="psychother" name="psychother">

      <label for="fibrosisandother">fibrosis during encounter:</label><br>
      <input type="number" id="fibrosisandother" name="fibrosisandother">

      <label for="malnutrition">malnutrition during encounter:</label><br>
      <input type="number" id="malnutrition" name="malnutrition">

      <label for="hemo">blood disorder during encounter:</label><br>
      <input type="number" id="hemo" name="hemo">

      <label for="hematocrit">average hematocrit value during encounter (g/dL):</label><br>
      <input type="number" id="hematocrit" name="hematocrit">

      <label for="hematocrit">average hematocrit value during encounter (g/dL):</label><br>
      <input type="number" id="hematocrit" name="hematocrit">

      <label for="neutrophils">Average neutrophils value during encounter (cells/microL):</label><br>
      <input type="number" id="neutrophils" name="neutrophils">

      <label for="sodium">average sodium value during encounter (mmol/L):</label><br>
      <input type="number" id="sodium" name="sodium">

      <label for="glucose">average glucose value during encounter (mmol/L):</label><br>
      <input type="number" id="glucose" name="glucose">

      <label for="bloodureanitro">average blood area nitrogen value during encounter (mg/dL):</label><br>
      <input type="number" id="bloodureanitro" name="bloodureanitro">

      <label for="creatinine">average creatinine value during encounter (mg/dL):</label><br>
      <input type="number" id="creatinine" name="creatinine">

      <label for="glucose">average glucose value during encounter (mmol/L):</label><br>
      <input type="number" id="glucose" name="glucose">

      <label for="bmi">average bmi during encounter (kg/m2):</label><br>
      <input type="number" id="bmi" name="bmi">

      <label for="pulse">average pulse during encounter (beats/m):</label><br>
      <input type="number" id="bmi" name="bmi">

      <label for="bmi">average bmiduring encounter (kg/m2):</label><br>
      <input type="number" id="bmi" name="bmi">

      <label for="respiration">average respiration during encounter (breaths/m):</label><br>
      <input type="number" id="respiration" name="respiration">

      <label for="secondarydiagnosisnonicd9">Flag for whether a non ICD 9 formatted diagnosis was coded as a secondary diagnosis :</label><br>
      <input type="number" id="secondarydiagnosisnonicd9" name="secondarydiagnosisnonicd9">

      <label for="facid">Flag for whether a non ICD 9 formatted diagnosis was coded as a secondary diagnosis :</label><br>
      <input type="number" id="facid" name="facid">

      <label for="daysofweek_admit">days of week admited :</label><br>
      <input type="number" id="daysofweek_admit" name="daysofweek_admit">

      <button type="submit" class="btn btn-primary btn-block btn-large">Evaluer le LOS</button>

    </form>
  </body>
</html>